{% load staticfiles %}

<div class="right-card">
    <div class="user-icon-wrapper">
        <a><img src="{% static blog_conf.owner_avatar %}" width="96px"
                height="96px"></a>
        <h2><a>{{ blog_conf.owner_name }}</a></h2>
    </div>
    <div class="sign">
        <p>{{ blog_conf.owner_sign }}</p>
    </div>
    <div class="self-info">
        <ul>
            {% for info in blog_conf.self_infos %}
                <li><a href="{{ info.url }}">{{ info.name }}</a><span
                        class="right-icon fa fa-{{ info.icon }}"></span></li>
            {% endfor %}
        </ul>
    </div>
    {% if tags %}
        <div class="tags">
        {% for tag in tags %}
            <a href="{% url 'blog:tag' tag.slug %}">{{ tag.name }}</a>
        {% endfor %}
    </div>
    {% endif %}
    <div class="what-i-use">
        @<a href="#">7sDream</a><br>
        Powered by <a href="https://www.djangoproject.com/">Django</a>
    </div>
</div>
